tr input[type="checkbox"] {
  height: 18px;
  width: 18px;
}

tr.warning td {
  background-color: var(--lightred);
}

.select-table td:first-child,
.select-table th:first-child {
  padding: 3px 2px;
  width: 30px;
  border: none;
  background-color: transparent;
}