.post {
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--lightgrey);
  padding: 10px 25px 25px;
}

.post-header, .bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.video {
  display: block;
  margin: 0 auto;
}