.pinned-list {
    margin-top: 16px;
}

.announcement-list {
    margin-top: 16px;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0%;
}

.announcement-list-card {
    list-style-type : none;
    background-color: white;
    margin-top: 4px;
    padding: 8px;
}
