.post-header, .bottom-buttons {
  display: flex;
  justify-content: space-between;
}

tr input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

.select-table td:first-child,
.select-table th:first-child {
  padding: 3px 5px;
  width: 30px;
  border: none;
  background-color: transparent;
}