/* Elements */

body {
  margin: 0;
  padding: 0;
  background-color: var(--bluegrey);
  max-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  align-items: stretch;
}

h1, h2 {
  margin: 0;
  font-size: 1.25rem;
}

h3 {
  margin-top: 0;
  font-size: 1.15rem;
}

h4 {
  margin-top: 0;
  font-size: 1.1rem;
}

button {
  font-weight: 600;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

button.primary {
  color: white;
  background-color: var(--orange);
}

button.secondary {
  color: var(--darkgrey);
  background-color: var(--lightgrey);
}

button.success {
  color: white;
  background-color: var(--green);
}

button.error {
  color: white;
  background-color: var(--red);
}

/* Components */

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
