:root {
  --blue: #003D7C;
  --orange: #EF7C00;
  --red: #E42B2B;
  --green: #2FB11A;
  --bluegrey: #F5F7FA; /* Background */
  --lightblue: #E9F4FF; /* Selection */
  --lightgrey: #E5E5E5;
  --darkgrey: #656565;
}

body, button {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}