:root {
  --blue: #003D7C;      /* accent 1 */
  --orange: #EF7C00;    /* accent 2 */
  --red: #E42B2B;       /* warning */
  --green: #2FB11A;     /* success */
  --bluegrey: #F5F7FA;  /* background */
  --lightblue: #E9F4FF; /* selection */
  --lightred: #FFE5E5;  /* warning background */
  --lightgrey: #E5E5E5;
  --mediumgrey: #CCCCCC;
  --grey: #AAAAAA;
  --darkgrey: #656565;
}

body, button {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}